{% extends '_layouts/base.njk' %}

{% block content %}




<article class="container">

<h1 class="queentitle">Queen</h1>


  <div class="row">
    <div class="col-sm-4 left-rail">
      {% block info %}
      <img class="img-fluid" src= "assets/img/members/{{ members.image }}" alt="Queen band member">
      {% endblock %}
    </div>

    <div class="col-sm-8">
      <h1>{{ members.name }}</h1>
            {# Style headline #}
      <p> {{ members.text | safe}} </p>
      <ul>
        <li>Instruments: {{ members.instruments}}</li>
        <li>Tenure: {{ members.tenure}}</li>
        <li>Birthplace: {{ members.birthplace}}</li>
      </ul>
      {# Style bullets #}
    </div>

  </div>

</article>
{% endblock %}
