{% extends '_layouts/base.njk' %}

{% block content %}
<article class="container">
  <div class="row">
    <div class="col-sm-4 left-rail">
      {% block info %}{% endblock %}
      <h1>{{ members.name }}</h1>
      {{ members.image}}
    </div>

    <div class="col-sm-8">
      {{ members.text}}
      <li>Instruments: {{ members.instruments}}</li>
      <li>Tenure: {{ members.tenure}}</li>
      <li>Birthplace: {{ members.birthplace}}</li>
      <li>Birthdate: {{ members.birthdate}}</li>
    </div>

  </div>
</article>
{% endblock %}
