{% extends '_layouts/base.njk' %}

{% block content %}
<article class="container">
  <div class="row">
    <div class="col-xs-5 col-sm-5 col-md-3 col-lg-2 left-rail">
      {% block info %}
      <h1>{{ members.name }}</h1>
      <img class="mr-3" src= "assets/img/members/{{ members.image }}" alt="Queen band member" style="width:150px">
      {% endblock %}
    </div>

    <div class="col-xs-7 col-sm-7 col-md-9 col-lg-10">
      <h6> {{ members.text}} </h6>
      <li>Instruments: {{ members.instruments}}</li>
      <li>Tenure: {{ members.tenure}}</li>
      <li>Birthplace: {{ members.birthplace}}</li>
      <li>Birthdate: {{ members.birthdate}}</li>
    </div>

  </div>
</article>
{% endblock %}
