{% extends '_layouts/base.njk' %}

{% block page_title %}Queen{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col">
    <h1>Queen</h1>
    <p class="author">By {% for author in authors %}
      <a href="{{ author.link }}" target="_blank">{{ author.name }}</a>
      {% if not loop.last %}
      {% if loop.revindex0 == 1 %} and {% else %}, {% endif %}{% endif %} {% endfor %}
      <br> Published {{ publish_date }}
    </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
    <p>
      Queen are a British rock band that formed in London in 1970. Their classic line-up was Freddie Mercury (lead vocals and piano), Brian May (lead guitar and vocals), Roger Taylor (drums and vocals), and John Deacon (bass guitar). Their earliest works were influenced by progressive rock, hard rock and heavy metal, but the band gradually ventured into more conventional and radio-friendly works by incorporating further styles, such as arena rock and pop rock, into their music. <a href="https://en.wikipedia.org/wiki/Queen_(band)"> -Wikipedia</a> 
    </p>
    <p>
        {% for album in albums %}
          <li>{{ album.title }}, {{ album.year }}, {{ album.image }}</li>
        {% else %}
          <li>This would display if the 'albums' collection were empty</li>
        {% endfor %}

    <ul class="list-unstyled">
      <li class="media">
      <img class="mr-3" src="../assets/img/albums/Queen_A_Day_at_the_Races.jpg" alt="Generic placeholder image">
    <div class="media-body">
      <h5 class="mt-0 mb-1">List-based media object</h5>
      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
    </div>

      

    </p>
    </div>
  </div>
</div>
{% endblock %}
