{% for member in members %}
    <div class="col-sm-6">
  
      <div class="card mb-4">
        <img class="img-fluid" src= "assets/img/members/{{ member.imagebw }}" alt="Queen Member">
        <div class="card-body">
          <h5 class="card-title">{{ member.name }}</h5>
          <p class="card-text">Tenure: {{ member.tenure }}</p>
          <p class="card-text">Instruments: {{ member.instruments }}</p>
          <a href="{{ member.slug }}" class="btn btn-primary">Learn More</a>
        </div>
      </div>
    </div>
    {% endfor %}


